.grid-top {
    display: grid;
    margin: 100px 265px 96px 243px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
}

.crew-title {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 36px;
}

.flex-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
}

.text-head {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.text-content {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: 400px;
}

.grid-image {
    margin-left: 243px;
    margin-right: 265px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 470px;
}

.cell1 {
    width: 250px;
    height: 350px;
}

.cell2 {
    width: 250px;
    height: 350px;
    align-self: end;
}

.cell3 {
    width: 250px;
    height: 350px;
}

.cell4 {
    width: 250px;
    height: 350px;
}

.cell5 {
    width: 250px;
    height: 350px;
    align-self: end;
}

.cell6 {
    width: 250px;
    height: 350px;
}

.photo {
    width: 200px;
    height: 280px;
}

.name {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.flex-cell {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.role {
    writing-mode: vertical-rl;
    text-orientation:sideways;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 12px;
}

.footer {
    margin-top: 110px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #A9A9A9;
}

@media (max-width: 1000px) {

    .grid-top {
        margin-left: 100px;
        margin-right: 80px;
        column-gap: 200px;
    }

    .grid-image {
        margin-left: 100px;
    }

    .footer {
        margin-left: 250px;
        width: max-content;
    }
}

@media (max-width: 450px) {
    
    .grid-top {
        margin: 71px 85px 60px 100px;
        grid-template-columns: 1fr;
        column-gap: 200px;
        row-gap: 38px;
    }

    .grid-image {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 430px;
    }

    .cell4 {
        align-self: end;
    }

    .cell5 {
        align-self: start;
    }

    .cell6 {
        align-self: end;
    }

    .footer {
        margin-left: 120px;
        width: max-content
    }

}